/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
	-fx-background-color: #d4dfe8;
}

.button {
	-fx-background-color: #ffbfb4;
}

.label {
	-fx-font-family: "Times New Roman"; 
}

.txt {
	-fx-font-size: 14px;
}

.scroll {
	-fx-background-color: #5BFFDE;
}